/*
	CSS Syntax

	selector {
		property:  value;
	}

*/
* {
font-family:  "Courier New", monospace;
font-size:  20px;

/*
	font-family: Font Name, fallbackfont;
*/

}
/*
	type selector - allows us to select all elements with the same tag
*/
h1 {
	color: black !important;
	text-align:  center;
	font-size:  2rem;

	/*
		2 rem = 2 x root element font size
	*/
}
/*
ID selector is represented in CSS with #


	#idName  {
		property:  valuue;
	}
*/
#zuitt-motto {
	/*add space between characters of the target */
	letter-spacing: 5px;
}

li {
	font-size: 30px;
}
/*
.className {
	property:  value;
}
*/
.offering-item {
	text-transform: uppercase;
	/*font-size:  50px;*/

}
/*
	Specificity of Selectors
	id > class > attribute > type > universal (*)
*/


/*#day-class {
	font-size:  100px !important;
}*/
/*
	!important allows us to override the specification

	The most specific declaration is when the declaration is in an id selector and important
*/

/*
	Attribute selector 

	tag[attribute]{
		property:  value;
	}
*/

input[required] {
	border-width:  2px;
	border-style:  solid;
	border-color: navy;
	width:  90%;
}

/*input {
	border-width:  4px;
	border-style:  solid;
	border-color: green;
}

.fname-input {
	border-width:  6px;
	border-style:  solid;
	border-color: red;
}
#first-name {
	border-width:  10px;
	border-style:  solid;
	border-color: yellow;
}*/
/*
	Adjacent  Sibling Selector 
	allows us to select the sibling directly after the first select
	
	sibling_element + target element {
		property: value;
	}
*/
#zuitt-motto + img {
	height:  300px;
	width:  300px;
	border-radius: 150px;
}

/*
	height and width in css is more flexible
*/
/*
General sibling selector

	firstselector ~ general sibling {
		property: value;
	}
*/
h2 ~  a {
	text-decoration: none;
}

/*
	Descendant Selector - allows us to select the element descendants of our first element/selector
	firstslelector descendant {
	 property:  value;
	}
*/
#bootcamp-learning-list li {

	/* color hex decimal */
	color:  #075966;
}
nav  {
	backgorund-color:  white;
	display:  flex;
	justify-content: space-between;
}
/*
	display flex allows us to manipulate the layout of an element children. arranges elemment in a row
	justify-content space between allows to changed the horizontal alignment 
*/
nav a {
	text-decoration: none;
}

/*
	CSS Child Selector - allows us to select the child/children of the first selector or element

	firstselector > child {
		property:  value;
	}
*/
section > form > label {
	color:  rgb(0,0,128);
}

body {
	background-color: skyblue;
}
a:hover {
	background-color:  #b4d6de;
}
section {

	height:  100vh;
	text-align:  center;
}

/*
	vh viewport hieght
*/
form {
	background-color: white;
	border: 2px solid black;
	height:  185px;
	width:  25vw;
	display:  flex;
	flex-direction: column;
	align-items: center;
}
#register  {
	display:  flex;
	flex-direction:  column;
	align-items: center;
}
/*
	justify content = vertical align
	align-items = horizontal alignment

*/
h2 {
	font-size:  1.5rem;
}
ol {
	list-style-type:  none;
}
button {
	background-color: #cf0053;
	color: white;
	border:  0;
	border-radius:  15px;
	

}