* {
	font-family:  "Verdana", sans-serif;
	font-size:  20px;
}



#p_ext {
	color: yellow; 		/*Apply External Styling*/
}
h1 {
	font-size: 3rem;			/*Introduction*/
}	
#transUpp {
	text-transform: uppercase;		/* Subtitle */
}
.languages {
	background-color:#A9DFBF; 		/*Languages List*/
}
.toolUse {
	border-color: #A9CCE3 ;
	border-width: 2px;		/*Tools List*/
	border-style: solid;
}
img + ul {
	list-style-type: none;			/*No bullets*/
}
section img {
	height: 20vh;
	widht:  20vh;					/*Round Corner*/
	border-radius:  150px;
}
ul ~ p {
	text-align: center;			/*paragraph/footer*/
}
section > ul > li {
	letter-spacing: 10px;			/*child selector*/
}